.groups
  = link_to ("/groups/877/messages") do
    .group
      %p.group__group-name アイウエオ
      %p.group__latest-message aaaaa
  = link_to ("/groups/845/messages") do
    .group
      %p.group__group-name アイウエオ
      %p.group__latest-message おおおおお
  = link_to ("/groups/836/messages") do
    .group
      %p.group__group-name a
      %p.group__latest-message おお
  = link_to ("/groups/816/messages") do
    .group
      %p.group__group-name a
      %p.group__latest-message z