.form {
  height: 45px;
  padding: 20px 40px;
  background-color: #ddd;
}

.new-message {
  display: flex;
  &__submit-btn {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
  }
}

.input-box {
  width: 100%;
  position: relative;
  margin: auto;
  &__text {
    width: 100%;
    height: 46px;
  }
}

.image-label {
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  &__input {
    display: none;
  }
}
