.groups {
  padding: 20px 20px 0;
  overflow: scroll;
  height: calc(100vh - 119px);
  background-color: #2f3e51;
  a:link { color: white; }
  a:visited { color: white; }
  a:hover { color: white; } 
  a:active { color: white; }

  
}

.group {
  margin-bottom: 40px;
  color: white;
  &__name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__message {
    font-size: 11px;
    margin: 10px;
    margin-bottom: 30px;
  }
}

